#headerPhoto {
    background-color:#cfb9e0 ;
    text-align: center;
}

.firstTitle{
    
    background-color:#9370DB;
    color:rgb(255, 255, 255);
    font-size: 30px;
    line-height: 50px;
}

.secondTitle{
    
    background-color:#dfa9df;
    color:rgb(83, 79, 79);
    line-height: 30px;
}

#footer{
    background-color:rgb(175, 173, 180) ;
    color:rgb(255, 255, 255);
    text-align: right;
}